<mat-sidenav-container autosize style="height: 100%" >

  <mat-sidenav [opened]=showSidenav disableClose>
    <button mat-icon-button (click)="showSidenav=false">
      <mat-icon>close</mat-icon>
    </button>
    <mat-tab-group>
      <mat-tab label="Produse"> Content 1 </mat-tab>
      <mat-tab label="Servicii"> Content 2 </mat-tab>
      <mat-tab label="Despre noi"> Content 3 </mat-tab>
    </mat-tab-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [isXSmallScreen]="isXSmallScreen" (emitShowSidenav)="handleShowSidenav()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
